<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="src/design.css" />
    <link rel="stylesheet" href="src/computer_layout.css" />
    <title>HotHotHot - Profile</title>
</head>

<body>
    <header class="nav">
        <h1>Hot Hot Hot</h1>

        <nav>
            <a href="temperatureHistoricView.html">Temperature</a>
            <a href="account.html" class="active">Account</a>
            <a href="parameters.html">Parameters</a>
        </nav>
    </header>


    <main class="account">

        <img src="img/patrick_pp.JPG" alt="" id="profile">
        <p>Patrick</p>
        <p>Account cretated 7th of March 2019</p>
    </main>
</body>

</html>