<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="src/design.css" />
    <link rel="stylesheet" href="src/computer_layout.css" />
    <link rel="stylesheet" href="src/mobile_layout.css" />

    <title>HotHotHot - Profile</title>
</head>

<body>
    <header class="nav">
        <h1>Hot Hot Hot</h1>

        <nav class="navbar">
            <ul class="nav-menu">
                <li>
                    <a href="temperatureHistoricView.html">Temperature</a>
                </li>
                <li>
                    <a href="account.html" class="active">Account</a>
                </li>
                <li>
                    <a href="parameters.html">Parameters</a>
                </li>
                <li id="temperature">
                    <a href="historicOnly.html">Historic</a>
                </li>
            </ul>
            <nav class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </nav>
        </nav>
    </header>


    <main class="account">

        <img src="img/patrick_pp.JPG" alt="" id="profile">
        <p>Patrick</p>
        <p>Account cretated 7th of March 2019</p>

        <div></div>
    </main>
</body>


<script src="get_json.js"></script>
<script src="control_circle.js"></script>
<script src="control_alert.js"></script>
<script src="chart.js"></script>
<script src="hamburger_menu.js"></script>


</html>