<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="src/design.css" />
    <link rel="stylesheet" href="src/computer_layout.css" />
    <title>HotHotHot - Parameters</title>
</head>

<body>

    <header class="nav">
        <h1>Hot Hot Hot</h1>

        <nav>
            <a href="temperatureHistoricView.html">Temperature</a>
            <a href="account.html">Account</a>
            <a href="parameters.html" class="active">Parameters</a>
        </nav>
    </header>

    <section>
        <header>
            <h1>Parameters</h1>
        </header>
    </section>

</body>

</html>