<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>HotHotHot - Parameters</title>
</head>

<body>

    <header>
        <h1>Hot Hot Hot</h1>

        <nav>
            <ul>
                <li><a href="temperatureHistoricView.html">Temperature</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="parameters.html">Parameters</a></li>
                <li><a href="log_out.html">Log out</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <header>
            <h1>Parameters</h1>
        </header>
    </section>

</body>

</html>