<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>HotHotHot - Temperature/Historic</title>
</head>

<body>

    <header>
        <h1>Hot Hot Hot</h1>

        <nav>
            <ul>
                <li><a href="temperatureHistoricView.html">Temperature</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="parameters.html">Parameters</a></li>
                <li><a href="log_out.html">Log out</a></li>
            </ul>
        </nav>
    </header>


    <section>
        <header>
            <h1>Sensors</h1>
        </header>
        <section>
            <h1>Inside</h1>
            <p>23 °C</p>
            <details>
                <summary>!</summary>
                <h4>Alert</h4>
                <p>Baissez le chauffage</p>
        </section>

        <section>
            <h1>Outside</h1>
            <p>15 °C</p>
            <details>
                <summary>!</summary>
                <h4>Alert</h4>
                <p>Prenez un pull pour sortir</p>
            </details>
        </section>
    </section>


    <section>
        <header>
            <h1>Data historic</h1>
        </header>
        <section>
            <header>
                <h1>Inside temperature</h1>
            </header>
        </section>

        <section>
            <header>
                <h1>Outside temperature</h1>
            </header>
        </section>
    </section>


</body>

</html>