<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="src/design.css" />
    <link rel="stylesheet" href="src/computer_layout.css" />

    <title>HotHotHot - Temperature/Historic</title>
</head>

<body>

    <header class="nav">
        <h1>Hot Hot Hot</h1>

        <nav>
            <a href="temperatureHistoricView.html" class="active">Temperature</a>
            <a href="account.html">Account</a>
            <a href="parameters.html">Parameters</a>
        </nav>
    </header>

    <main>
        <article class="artTemp">
            <section class="customCircle" name="inside">
                <h2>INSIDE</h2>
                <p name="insideTemp">23 °C</p>
                <span class="alert-span" id="insideAlert">!</span>
            </section>

            <section class="customCircle" name="outside">
                <h2>OUTSIDE</h2>
                <p name="outsideTemp">15 °C</p>
                <span class="alert-span" id="outsideAlert">!</span>
            </section>
        </article>

        <hr>

        <article class="artHist">
            <header>
                <h2>Data historic</h2>
            </header>
            <section>
                <header>
                    <h2>Inside temperature</h2>
                </header>
            </section>

            <section>
                <header>
                    <h2>Outside temperature</h2>
                </header>
            </section>
        </article>
    </main>



</body>
<script type="text/javascript" src="alert.js"></script>

</html>